<header>
  <nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        {% comment %} <img src="./templates/img/logo.png" width="112" height="28"> {% endcomment %}
        <img src="https://cdn-icons-png.flaticon.com/512/6889/6889081.png">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% url 'homepage:index' %}">
          Главная
        </a>
        <a class="navbar-item" href="{% url 'catalog:product_list' %}">
          Компоненты на складе
        </a>
        <a class="navbar-item" href="{% url 'production:production' %}">
          Производство
        </a>
        <a class="navbar-item" href="{% url 'shopping:shopping' %}">
          Список покупок
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>