{% extends "production/production.html" %}
{% load static %}
{% block title %}
  Производство плат: {{ board.name|lower }}
{% endblock %}
{% block content %}
<section class="section">

  <form class="box">
    <div class="field">
      <h5 class="subtitle">Платы в производстве</h5>

      <div class="columns">

        {% for board in board_list %}
        <div class="column">
          <label class="label">{{ board.name }}</label>
          <div class="field has-addons">
            
          </div>
          <a class="button is-success is-light is-fullwidth" href="{% url 'production:board_production' board.slug %}" 
            {% if slug == board.slug %} title="Куда перейти? Ты уже тут" disabled
            {% endif %}>Перейти
          </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </form>


</section>



{% block production %}

<section class="section">
  <div class="container">
    <h1 class="title">
      {{ board.name }}: {{ total_quantity }} в работе
    </h1>
  </div>

  <form class="box" method="post">
    <div class="field">
      <div class="columns">

        <div class="column">
        <h5 class="subtitle">Состояние шлейфа</h5>
        {% for data in combined_data %}
          {% if data.cable %}
          <label class="label">{{ data.stage }}:
            {{ data.quantity }}
          </label>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" name="quantity" placeholder="100">
            </div>
            <div class="control">
              <button class="button is-success is-light">
                Добавить
              </button>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        </div>

        <div class="column">
          <h5 class="subtitle">Состояние платы</h5>
          {% for data in combined_data %}
            {% if not data.cable %}
            <label class="label">{{ data.stage }}:
              {{ data.quantity }}
            </label>
              <div class="field has-addons">
                <div class="control">
                  <input class="input" type="number" name="quantity" placeholder="100">
                </div>
                <div class="control">
                  <button class="button is-success is-light">
                    Добавить
                  </button>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
      </div>
    </div>
  </form>

</section>

{% endblock %}
{% endblock %}