{% extends "base.html" %}
{% load static %}
{% block title %}
  Производство плат
{% endblock %}
{% block breadcrumbs %}
<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        {% for doc in document_list %}
          <li><a href="{% url 'production:document_production' number=doc.number %}">Приложение № {{ doc.number }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
{% endblock%}

{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">
      Количество производимых плат
    </h1>
  </div>
</section>

<section class="section">
  {% for item in data %}

  <div class="block">
    <div class="box">
      <div class="field">
        <h5 class="subtitle">
          <a class="button is-white" href=
            "{% url 'production:document_production' number=item.document.number %}">
              Приложение №
              <strong>{{ item.document.number }}</strong>
          </a>
        </h5>

        <div class="columns">

          {% for board in item.boards %}
            <div class="column">
              <form class="box" method="post">
                {% csrf_token %}
                <input type="hidden" name="hidden_stage" value="Новый заказ">
                <input type="hidden" name="hidden_board" value="{{ board.board__name }}">
                <input type="hidden" name="hidden_document" value="{{ item.document.number|add:'0' }}">
                <label id="board_data_{{ board.board__id }}" class="label">
                  {{ board.board__name }}: {{ board.total_quantity }}
                </label>
                <div class="field has-addons">
                  <p class="control is-expanded">
                    {{ form.quantity }}
                  </p>
                  <div class="control">
                    <button class="button is-success is-light" type="submit">
                      Добавить
                    </button>
                  </div>
                </div>
              </form>
              <a class="button is-success is-light is-fullwidth" 
              href=
              "{% url 'production:board_production' number=item.document.number slug=board.board__slug %}" 
              {% if slug == board.board__slug %} title="Куда перейти? Ты уже тут" 
              disabled
              {% endif %}>
              Перейти
              </a>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>

{% endfor %}

  <div class="container">
    {% block production %}

    {% endblock %}
  </div>

</section>

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    function updateBoardData() {
      var documentNumber = {{ item.document.number }}; // Get the document number from the template context

      $('.box').each(function() {
        var form = $(this);

        $.ajax({
          type: 'GET',
          url: '{% url "production:board_data" %}',
          data: { document_number: documentNumber }, // Include the document number as a query parameter
          success: function(response) {
            response.board_data.forEach(function(board) {
              $('#board_data_' + board.id).text(board.board + ': ' + board.total_quantity);
            });
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    }

    setInterval(updateBoardData, 5000);
  });
</script> {% endcomment %}
{% endblock %}