{% extends "base.html" %}
{% load static %}
{% block title %}
  Производство плат
{% endblock %}
{% block content %}
<section class="section">

  <form class="box">
    <div class="field">
      <h5 class="subtitle">Количество производимых плат</h5>

      <div class="columns">

        {% for board in board_list %}
        <div class="column">
          <label class="label">{{ board.name }}: 
            {{ board.total_production_quantity }}</label>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" placeholder="100">
            </div>
            <div class="control">
              <button class="button is-success is-light">
                Добавить
              </button>
            </div>
            
          </div>
          <a class="button is-success is-light is-fullwidth" href="{% url 'production:board_production' board.slug %}" 
            {% if slug == board.slug %} title="Куда перейти? Ты уже тут" disabled
            {% endif %}>Перейти
          </a>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </form>

  {% block production %}
  {% endblock %}

</section>

{% endblock %}