{% extends "base.html" %}
{% load static %}
{% block title %}
  Производство плат
{% endblock %}
{% block content %}
<section class="section">
<div class="container">
  <div class="box">
    <div class="field">
      <h5 class="subtitle">Количество производимых плат</h5>

      <div class="columns">

        {% for board in board_list %}
        <div class="column">
          <form class="box" method="post">
            {% csrf_token %}
          <input type="hidden" name="hidden_stage" value="Новый заказ">
          <input type="hidden" name="hidden_board" value="{{ board.name }}">
          <label id="board_data_{{ board.id }}" class="label">{{ board.name }}:
            {{ board.total_production_quantity }}
          </label>
          <div class="field has-addons">
            <p class="control is-expanded">
              {{ form.quantity }}
            </p>
            <div class="control">
              <button class="button is-success is-light" type="submit">
                Добавить
              </button>
            </div>
            
          </div>
        </form>
          <a class="button is-success is-light is-fullwidth" href="{% url 'production:board_production' board.slug %}" 
            {% if slug == board.slug %} title="Куда перейти? Ты уже тут" disabled
            {% endif %}>Перейти
          </a>
        
        </div>
      
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  {% block production %}

  {% endblock %}
</div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $(document).ready(function() {
      function updateBoardData() {
        $('.box').each(function() {
          var form = $(this);
          
          $.ajax({
            type: 'GET',
            url: '{% url "production:board_data" %}',
            success: function(response) {
               response.board_data.forEach(function(board) {
                  $('#board_data_' + board.id).text(board.board + ': ' + board.total_production_quantity);
                });
            
            },
            error: function(error) {
              console.log(error);
            }
          });
        });
      }

      setInterval(updateBoardData, 1000);
    });
   
</script>
{% endblock %}