<!DOCTYPE html>
<html lang="ru" class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %}ヽ(•‿•)ノ{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    {% include "includes/header.html" %}
    <main>
      {% block content %}Контента пока нет :({% endblock %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>