{% extends "base.html" %}
{% load static %}
{% block title %}
  Список компонентов
{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Это страница со списком компонентов
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Количество на складе</th>
          <th>Критическое количество</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Наименование</th>
          <th>Количество на складе</th>
          <th>Критическое количество</th>
        </tr>
      </tfoot>
      <tbody id="catalog-data">
            
      </tbody>
    </table>
  </div>
</div>
</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   $(document).ready(function() {
     function updateCatalogData() {
       $.ajax({
         url: '{% url "catalog:catalog_data" %}',
         type: 'GET',
         success: function(data) {
           $('#catalog-data').empty();
           
           $.each(data.catalog_data, function(index, item) {
             var catalogInfo;
             if (item.quantity <= item.critical_quantity) {
              catalogInfo = (
                '<tr class="is-danger">' + 
                  '<th><abbr title="' + item.description + '">'
                    + item.name + '</abbr></th>' + 
                  '<td>' + item.quantity + '</td>' + 
                  '<td>' + item.critical_quantity + '</td>' + 
                '</tr>'
               );
             } else {
              catalogInfo = (
                '<tr>' + 
                  '<th><abbr title="' + item.description + '">'
                    + item.name + '</abbr></th>' + 
                  '<td>' + item.quantity + '</td>' + 
                  '<td>' + item.critical_quantity + '</td>' + 
                '</tr>'
               );
             }
             $('#catalog-data').append(catalogInfo);
           });
         },
         error: function(xhr, status, error) {
           console.error(error);
         }
       });
     }
   
     updateCatalogData();
     setInterval(updateCatalogData, 1000);
   });
   
</script>
{% endblock %}
 