{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Это страница со списком компонентов
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Количество</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Имя</th>
          <th>Количество</th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
        <tr>
          <th>DDDDDDD</th>
          <td>11</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DFHGJ32423GBFHDG</th>
          <td>1234</td>
        </tr>
        <tr>
          <th>DSF2545654645FDSGFG</th>
          <td>4535</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  </div>
</section>
{% endblock %}
 