{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Это страница со списком компонентов
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Наименование</th>
          <th>Количество на складе</th>
          <th>Критическое количество</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Наименование</th>
          <th>Количество на складе</th>
          <th>Критическое количество</th>
        </tr>
      </tfoot>
      <tbody>
        {% for component in component_list %}
        <tr>
          <th>{{ component.name }}</th>
          <td>{{ component.quantity }}</td>
          <td>{{ component.critical_quantity }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  </div>
</section>
{% endblock %}
 