{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Производство
    </h1>
  </div>
  <div class="container">
    <progress class="progress is-success" value="15" max="100">15%</progress>
  </div>
  <div class="container">
    <p class="subtitle is-5">Сколько плат будет изготавливаться: 150</p>
    <div class="field has-addons">
      <div class="control">
        <input class="input is-primary" type="text" placeholder="150">
      </div>
      <div class="control">
        <button class="button is-success">
          Done
        </button>
      </div>
    </div>
  </div>
</section>
{% endblock %}