{% extends "base.html" %}
{% load static %}
{% block title %}
  Список покупок
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">
      На новые приложения нужно закупить:
    </h1>
    <form method="get" action="{% url 'shopping:generate_excel_report' %}">
      <button class="button is-light" type="submit">Скачать отчет в Excel</button>
    </form>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      {% for document, components in document_components_quantities.items %}
      
      <div class="column">
        <h4 class="subtitle is-3">{{ document }}</h4>
        <table class="table is-hoverable is-fullwidth is-bordered">
          <thead>
            <tr>
              <th>Наименование</th>
              <th>Количество</th>
              <th>На складе</th>
            </tr>
          </thead>
          <tbody>
              {% for component, quantities in components.items %}
                <tr 
                {% if quantities.calculated > quantities.stock %} class="is-danger" {% endif %}>
                  <th>{{ component.name }}</th>
                  <td>{{ quantities.calculated }}</td>
                  <td>{{ quantities.stock }}</td>
                </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}